*{
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;  
}
body{
  margin: 0;
  /*background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTZyFMcfYEYu2J3IHhbf0DcKej_p_ew4m0FQ&usqp=CAU');
  backdrop-filter: blur(0.5px);
  background-size:auto; 
  background-repeat:no-repeat;*/
  /*background-image:url('https://i.pinimg.com/originals/a0/c1/c2/a0c1c2ea65fdbfebae66e12d083f88f8.jpg');
    
    backdrop-filter:blur(12.5px) hue-rotate(230deg) saturate(70%);
    
    background-size:auto; 
    background-repeat:no-repeat;*/
  background: linear-gradient(to right, #dad299, #b0dab9);
  
}


caption{

color: black;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  background-color: #333;
}

li {
  display: inline-block;
}

li :hover{

   background-color:tomato; 


}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.menubar ul li{
  display: inline;
}
li a{
 display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

.container{
    font-family: Arial, Helvetica, sans-serif;
    border-width:0px;  
    width: 100%;
    height: 90%;
    color: black;
    margin: 0;
    display: block;
    /*background-color: white;
    background-image:url('https://i.pinimg.com/originals/a0/c1/c2/a0c1c2ea65fdbfebae66e12d083f88f8.jpg');
    
    filter:hue-rotate(24deg);
    background-size:auto; 
    background-repeat:repeat;
    */
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  
}


input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  

}



.map{

    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;

}


#info{

z-index:1;
display: none;
position: fixed;
background-color: rgba(255,255,255,0.3);
width: 50%;
height: 50%;
}


h2{
   font-size: 25px;
   color:white;
   margin-left:40%;
}

h3{
  font-size: 25px;
  color:white;
  margin-left:40%;
}

.re{
  padding-top: 50px;
  margin-top:10px;
}

.reg{
 font-size:25px;
 background-color:azure; 
 width:70%;
 overflow:scroll;
 margin-left:15%;
 margin-right:15%;
 margin-top:2px; 
 height:150px;
}

#list{
  background-color:white;
  font-size: 20px;
  height: 100%;
  margin-left:15%;
  margin-right:15%;
  margin-bottom:2px; 
  width:75%;
  overflow:hidden;

}

#test{
  background-color:blue;
  position: relative;
  margin-left: 5%;
  margin-right:10%;
  width:90%;
  
  
  /*background-image:url('https://alldus.com/media/2302/shutterstock_671206525-min.jpg?anchor=center&mode=crop&width=1600&height=900&quality=75');
  background-size:100% 100%; 
  background-repeat: no-repeat;*/
  background-color: rgba(0,0,0,0);
  
  
}

#prop{

  border: 5px solid #ddd;
  padding: 2.5px;
}

#prop td{

  border: 5px solid #ddd;
  padding: 4px;
}




#flow{
  width:100%;
  margin-left: 50px;
  background-color: rgba(0,0,0,0);
  
}


#flow th{

 color: black;
 align: center;
}


#test td, #test th {
  border: 3px solid black;
  padding: 2px;
  background-color: rgba(0,0,0,0);
  font-weight: bolder;
  font-size: 25px;
  box-sizing: content-box;
}


#test tr:nth-child(even){
  background-color: rgba(0,0,0,0);}

#test tr td:hover {color: black;
font-size: 25px;
background-color: white;
animation-delay: 2s;}

#test th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  background-color: rgba(0,0,0,0);
}


.cs1{
  background-color:white;
  margin-left:2.5%;
  margin-right:2.5%;
  width:70%;
  height:23em;
  overflow:scroll;

}
.row {
  display: flex;
  
}



.row table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.row th, .row td {
  border: 1px solid #ddd;
  padding: 8px;

}

.row tr:nth-child(even) {
  background-color: #f2f2f2;
}


.row tr:hover {background-color: #ddd;}

.row th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  background: rgb(240, 248, 255,0.0)
}

/* Track */
::-webkit-scrollbar-track {
  background:rgb(0,0,0,0);
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(240, 248, 255,0.2);
  border-radius:5px;

}



/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 248, 255,0.6);
}