.container{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:tomato;
}

h2{
   font-size: 25px;
   color:white;
   margin-left:40%;
}

#test{
  background-color:white;
  margin-left:15%;
  margin-right:15%;
  width:70%;
  height:23em;
  overflow:scroll;

}

#flow{
  width:100%;
}


#test td, #test th {
  border: 1px solid #ddd;
  padding: 8px;
}

#test tr:nth-child(even){background-color: #f2f2f2;}

#test tr:hover {background-color: #ddd;}

#test th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}