.container{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:tomato;
}

h2{
   font-size: 25px;
   color:white;
   margin-left:40%;
}

h3{
  font-size: 25px;
  color:white;
  margin-left:40%;
}

.re{
  padding-top: 50px;
  margin-top:10px;
}

.reg{
 font-size:25px;
 background-color:azure; 
 width:70%;
 overflow:scroll;
 margin-left:15%;
 margin-right:15%;
 margin-top:2px; 
 height:150px;
}

#list{
  background-color:white;
  font-size: 25px;
  height: 200px;
  margin-left:15%;
  margin-right:15%;
  margin-bottom:2px; 
  width:50%;
  overflow:scroll;


}



#test{
  background-color:white;
  margin-left:15%;
  margin-right:15%;
  width:70%;
  height:23em;
  overflow:scroll;

}







#flow{
  width:100%;
}


#test td, #test th {
  border: 1px solid #ddd;
  padding: 8px;
}


#test tr:nth-child(even){background-color: #f2f2f2;}

#test tr:hover {background-color: #ddd;}

#test th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.cs1{
  background-color:white;
  margin-left:2.5%;
  margin-right:2.5%;
  width:70%;
  height:23em;
  overflow:scroll;
}
.row {
  display: flex;
  
}



.row table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.row th, .row td {
  border: 1px solid #ddd;
  padding: 8px;

}

.row tr:nth-child(even) {
  background-color: #f2f2f2;
}


.row tr:hover {background-color: #ddd;}

.row th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}