{% extends "templa.html" %}
{% block content %}

<div>
  <div class='r_p' style="height: 125px;width:70%;margin-right:5%;overflow: scroll;float:right;">
   <heading style="height:max-content;display: block;background-color:gray;text-align: center;font-size: 35px;">Protein Sequence</heading>
    {% for i in range(1,d|length) %}
         {% if i|string() in a %}
           {% if i%10==0 or i == d|length-1 %}
             <span style="color:#ff4d4d;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
           {%else%}
             <span style="color:#ff4d4d;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {% elif i|string() in b %}
            {% if i%10==0 or i == d|length-1 %}
             <span style="color:#3BB9FF;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
            {%else%}
             <span style="color:#3BB9FF;font-weight:900;">{{d[i]}}</span>
            {%endif%}
         {%else%}
            {% if i%10==0 or i == d|length-1 %}
             <span style="color:yellow;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
            {%else%}
             <span style="color:yellow;font-weight:900;">{{d[i]}}</span>
            {%endif%}
         {%endif%}
    {%endfor%} 

    
 </div>

 <div class="label" style="margin-left: 3%;">

       <div style="background-color:#ff4d4d;width:50px;height:20px;float: left;"></div><p style="font-weight: bolder;margin-left:5%;">Exterior Region</p>
       <br>
       <div style="background-color:#3BB9FF;width:50px;height:20px;float: left"></div><p style="font-weight: bolder;margin-left:5%;">Membrane Region</p>
       <br>
       <div style="background-color:yellow;width:50px;height: 20px;float: left"></div><p style="font-weight: bolder;margin-left:5%;">Interior Region</p>

 </div>
</div>



<div id="test" style="margin-top:20px;">
 
        <div style="overflow:auto;overflow-x: hidden;height:25em;margin:3rem;font-size:10px;">
         <table id='flow' style="width:90%;">
           
            <caption style="font-size: 25px;position: sticky;">Binding Site</caption>
            <tr>
             <th style="color: black;">Residue Name</th>
             <th style="color: black;">Residue Number</th>
             <th style="color: black;">Atom Name</th>
             <th style="color: black;">Chain Name</th>
             <th style="color: black;">Residue Name</th>
             <th style="color: black;">Residue Number</th>
             <th style="color: black;">Atom Name</th>
             <th style="color: black;">Chain Name</th>
             <th style="color: black;">Distance</th>
            </tr>
            {%for i in x %}

             <tr>
              <td>{{i[0][3]}}</td>
             {%if i[0][5] in a %}
              <td style="background-color: #ff4d4d;font-weight:900;">{{i[0][5]}}</td>
             {%elif i[0][5] in b %}
              <td style="background-color: #3BB9FF;font-weight:900;">{{i[0][5]}}</td>
             {%else%}
              <td style="background-color: yellow;font-weight:900;">{{i[0][5]}}</td>
             {%endif%}
              <td>{{i[0][2]}}</td>
              <td>{{i[0][4]}}</td>
              <td>{{i[1][3]}}</td>
             {%if i[1][5] in a %}
              <td style="background-color: #ff4d4d;font-weight:900;">{{i[1][5]}}</td>
             {%elif i[1][5] in b %}
              <td style="background-color: #3BB9FF;font-weight:900;">{{i[1][5]}}</td>
             {%else%}
              <td style="background-color: yellow;font-weight:900;">{{i[1][5]}}</td>
             {%endif%}
              <td>{{i[1][2]}}</td>
              <td>{{i[1][4]}}</td>
              <td>{{i[2]}}</td>
             </tr>

            {%endfor%}
         </table>
        </div>


</div>
{% endblock %}
