{% extends "templa.html" %}
{% block content %}
<div>
  <div class='c_m' style="height: 125px;width:70%;margin-right:5%;overflow: scroll;float:right;">
   <heading style="height:max-content;display: block;background-color:gray;text-align: center;font-size: 35px;">Protein Sequence</heading>
    {% for i in range(1,d|length) %}
         {% if i|string() in a %}
           {% if i%10==0 or i == d|length-1 %}
             <span style="color:#E10600;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
           {%else%}
             <span style="color:#E10600;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {% elif i|string() in b %}
            {% if i%10==0 or i == d|length-1 %}
             <span style="color:#1B4F72;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
            {%else%}
             <span style="color:#1B4F72;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {%else%}
            {% if i%10==0 or i == d|length-1 %}
             <span style="color:yellow;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
            {%else%}
             <span style="color:yellow;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {%endif%}
       {%endfor%} 

    
 </div>

 <div class="label" style="margin-left: 3%;">

       <div style="background-color:#E10600;width:50px;height:20px;float: left;"></div><p style="font-weight: bolder;margin-left:5%;">Exterior Region</p>
       <br>
       <div style="background-color:#1B4F72;width:50px;height:20px;float: left"></div><p style="font-weight: bolder;margin-left:5%;">Membrane Region</p>
       <br>
       <div style="background-color:yellow;width:50px;height: 20px;float: left"></div><p style="font-weight: bolder;margin-left:5%;">Interior Region</p>


 </div>
</div>



    <div class="map" id="map" style="margin-top:10px;width:50%">
      <div>
      {{div_placeholder}}
      </div>
    </div>
 {% endblock %}