<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
  <body>
    
      <div class="container" style="background-color: gray">
        <h1 class="logo">Welcome to Transmembrane App!!!!!</h1>
        <strong><nav>
        

         
         
          <form method="post" action='/'>
          	PDB ID:<input type="text" name='Pdb'>
          	<br><br>
          	<br><br>
            <input type='Submit' value='Submit!'>
            <!--<input type="radio" value="short_range" name="redirect"><label>short_range</label>
            <input type="radio" value="medium_range" name="redirect"><label>medium_range</label>
            <input type="radio" value="long_range" name="redirect"><label>long_range</label>
            <input type="radio" value="contact_order" name="redirect"><label>contact_order</label>
            <input type="radio" value="ionic_interaction" name="redirect"><label>ionic_interaction</label>
            <input type='Submit' value='Submit!'>
            <input type="button" value="Go back!" onclick="history.back()">
            <input type="button" value="Reloads!" onclick="history.go(0)">
          </form>-->
         


        </nav></strong>
      </div>
      
      
    <!--<div class="container">
      {% block content %}
      {% endblock %}
    </div>-->
    
    



     
  </body>
</html>