{% extends "layout.html" %}
{% block content %}
  <div class='ion'>
    <h2 class='two'>{{z}}</h2>
  </div>
     <div id='test'> 
      <table id='flow'>
      {% if z == 'Ionic_Interactions' %}
    	 <tr>
    		<th>Residue Name</th>
    		<th>Residue Number</th>
    		<th>Atom</th>
    		<th>Residue Name</th>
        <th>Residue Number</th>
        <th>Atom</th>
        <th>Distance</th>
    	 </tr>

    	 {% for i in y %}
          <tr>
          	<td>{{i[0]}}</td>
          	<td>{{i[1]}}</td>
          	<td>{{i[2]}}</td>
          	<td>{{i[3]}}</td>
          	<td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
          </tr>
        {%endfor%}
      {%else%}
        <tr>
        <th>Residue Name</th>
        <th>Residue Number</th>
        
        <th>Residue Name</th>
        <th>Residue Number</th>
        
        <th>Distance</th>
       </tr>

       {% for i in y %}
          <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            
          </tr>
        {%endfor%}
      {%endif%}

      </table>
     </div> 
    <p>...........................................</p>
  
{% endblock %}
