<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
  <body>
    
      <div class="container" style="color: rgb(200,100,20);font-weight:900;">
        <h1 class="logo" style="text-align:center;font-size:25px;margin-bottom:100px;">Server computes different parameters from the three dimensional structure of the protein.To calculate the properties, mark the checkboxes and enter the PDB code below.</h1>
        <strong><nav>
           
       
          <form method="post" action="/home/">
          	PDB ID:<input type="text" name='Pdb'>&nbsp;&nbsp;&nbsp;&nbsp;
          	&nbsp;&nbsp;

            <!--Chain(Optional):<input type="text" name="chain">-->
          	
            {%if x == 'residue contact'%}
             
             Cutoff Distance (Number of Contacts within the cutoff distance):<input type="text" name="cutoff">
             <br><br><br>
            
            {%endif%}
           <br><br>
           <div id='list' style="background-color:rgb(0,0,0);">

            <table>
                 {%if x == 'residue contact'%}
                  
                  <tr><td><input type="checkbox" value="short_range" name="redirect"><label>Short_Range</label></td></tr>
                  <tr><td><input type="checkbox" value="medium_range" name="redirect"><label>Medium_Range</label></td></tr>
                  <tr><td><input type="checkbox" value="long_range" name="redirect"><label>Long_Range</label></td></tr>
                  <tr><td><input type="checkbox" value="contact_order" name="redirect"><label>Contact_Order</label></td></tr>
                  <tr><td><input type="checkbox" value="long_range_order" name="redirect"><label>Long_Range_Order</label></td></tr>
                  
                  <tr><td><input type="checkbox" value="contacts" name="redirect"><label>Contacts</label></td></tr>
                  <tr><td><input type="checkbox" value="surrounding_hydrophobicity" name="redirect"><label>Surrounding_hydrophobicity</label></td></tr>
                  <tr><td><input type="checkbox" value="all_residue_contacts" name="redirect"><label>All_residue_contacts</label></td></tr>
                 {%elif x=='interactions'%}
                  
                  <tr><td><input type="checkbox" value="ionic_interaction" name="redirect"><label>Ionic_Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="disulphide_interaction" name="redirect"><label>Disulphide_Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="hydrophobic_interaction" name="redirect"><label>Hydrophobic_Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="cation_pi_interaction" name="redirect"><label>Cation_Pi_Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="aromatic_aromatic_interaction" name="redirect"><label>Aromatic_Aromatic_Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="mmch" name="redirect"><label>Main-Main-Chain Hydrogen Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="msch" name="redirect"><label>Main-Side-Chain Hydrogen Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="ssch" name="redirect"><label>Side-Side-Chain Hydrogen Interaction</label></td></tr>
                  <tr><td><input type="checkbox" value="all_residue_interaction" name="redirect"><label>All_residue_interaction</label></td></tr>

                 {%elif x=="Contact map"%}   
 
                    <tr><td><input type="radio" value="contact_map" name="redirect"><label>Contact_Map</label></td></tr>


                 {%endif%}
            </table>
           </div>
             <br>
             <div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='radio' value='m-m' name='reg' style="display: inline-flex;">Membrane-Membrane Interaction &nbsp;&nbsp;&nbsp;
             <input type='radio' value='m-i' name='reg' style="display: inline-flex;">Membrane-Intracellular Interaction &nbsp;&nbsp;&nbsp;
             <input type='radio' value='m-e' name='reg' style="display: inline-flex;">Membrane-Extracellular Interaction &nbsp;&nbsp;&nbsp;
             <input type='radio' value='all' name='reg' style="display: inline-flex;">All &nbsp;&nbsp;&nbsp;
             </div>
             <br>
             <br><br>
             <input type='Submit' value='Submit!'>
             <input type="button" value="Go back!" onclick="history.back()">
             <input type="button" value="Reloads!" onclick="history.go(0)">

          </form>
         


        </nav></strong>
      </div>
      
 
     
  </body>
</html>
