<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
  <body>
      <div class='menu' style="display: block;height: 5%;background-color: brown;margin-bottom: 20px;font-size: 25px;">
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a>Compute</a></li>
          <li><a href='#'>Tutorial</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Links</a></li>

        </ul>
        <!--<input type="button" name="Home" value="Home" style="width:50px;display: inline-block;">
        <input type="button" name="Compute" value="Compute" style="width:50px;display: inline-block;">
        <input type="button" name="Tutorial" value="Tutorial" style="width:50px;display: inline-block;" >
        <input type="button" name="About" value="About" style="width:50px;display: inline-block;">
        <input type="button" name="Links" value="Links" style="width:50px;display: inline-block;">-->
      </div>
      <div class="container" style="color: black;font-weight:900;height: 85%">
        <!--<h1 class="logo" style="text-align:center;font-size:25px;margin-bottom:100px;">Server computes different parameters from the three dimensional structure of the protein.To calculate the properties, mark the checkboxes and enter the PDB code below.</h1>-->
        <strong><nav>
           
       
          <form method="post" action="/home/" style="padding: 15px;">
          	
            <!--Chain(Optional):<input type="text" name="chain">-->
          	
           <!--<div style="font-size: 25px;">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='radio' value='m-m' name='reg' style="display: inline-flex;">Membrane-Membrane Interaction &nbsp;&nbsp;&nbsp;
             <input type='radio' value='m-i' name='reg' style="display: inline-flex;">Membrane-Interior Interaction &nbsp;&nbsp;&nbsp;
             <input type='radio' value='m-e' name='reg' style="display: inline-flex;">Membrane-Exterior Interaction &nbsp;&nbsp;&nbsp;
             <input type='radio' value='all' name='reg' style="display: inline-flex;">All &nbsp;&nbsp;&nbsp;
             </div>
             <br>
             <br><br>-->
           <div id='list' style="background-color:transparent;font-size: 30px;">
            
            <!--<table id='prop'>
                 <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                 </tr>-->
                 {%if x == 'residue contact'%}
                
                
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;">
                   <caption style="height:max-content;background-color:gray;text-align: center;">Input Details</caption>
                   <tr>
                     <td style="width: 50%;">PDB ID:&nbsp;&nbsp;<input type="text" name='Pdb' value={{y}} readonly style="font-size: 25px;"></td>
                     <td style="width: 50%;">Cutoff Distance:&nbsp;&nbsp;<input type="number" step="0.1" value={{z}} name="cutoff" readonly style="font-size: 25px;width: 50px;">&nbsp;(&#197;)</td>
                   </tr>
                  </table>
                  <br>
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;">
                   <caption style="height:max-content;background-color:gray;text-align: center;">Inter-Residue Contact</caption>
                  
                   <tr><td><input type="checkbox" value="short range" name="redirect">&nbsp;&nbsp;<label>Short Range Contacts</label></td>
                   <td><input type="checkbox" value="medium range" name="redirect">&nbsp;&nbsp;<label>Medium Range Contacts</label></td>
                   <td><input type="checkbox" value="long range" name="redirect">&nbsp;&nbsp;<label>Long Range Contacts</label></td></tr>
                   <tr><td><input type="checkbox" value="contact order" name="redirect">&nbsp;&nbsp;<label>Contact Order</label></td>
                   <td><input type="checkbox" value="long range order" name="redirect">&nbsp;&nbsp;<label>Long Range Order</label></td>
                   <td><input type="checkbox" value="surrounding hydrophobicity" name="redirect">&nbsp;&nbsp;<label>Surrounding hydrophobicity</label></td></tr>
                   <tr><td><input type="checkbox" value="contacts" name="redirect">&nbsp;&nbsp;<label>Residue Residue Contacts</label></td>
                   <td><input type="checkbox" onclick="selects()" name="all">&nbsp;&nbsp;<label>All</label></td></tr>
                  </table>
                  <br>
                  <br>
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;">
                    <tr>
                     <td><input type='radio' value='m-m' name='reg' >&nbsp;&nbsp;Membrane-Membrane Contacts</td>
                     <td><input type='radio' value='m-e' name='reg'>&nbsp;&nbsp;Membrane-Exterior Contacts</td>
                     <td><input type='radio' value='m-i' name='reg'>&nbsp;&nbsp;Membrane-Interior Contacts</td>
                   </tr>
                  </table>
                  
                 {%elif x=='interactions'%}
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;text-align: center;">
                   <caption style="height:max-content;background-color:gray;text-align: center;">Input Details</caption>
                   <tr>
                     <td style="width: 50%;">PDB ID:<input type="text" name='Pdb' value={{y}} readonly style="font-size: 20px;"></td>
                   </tr>
                  </table>
                  <br>
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;">
                   <caption style="height:max-content;background-color:gray;text-align: center;">Inter-Residue Contact</caption>
                  
                    <tr><td><input type="checkbox" value="ionic interaction" name="redirect">&nbsp;&nbsp;<label>Ionic Interactions</label></td></tr>
                    <tr><td><input type="checkbox" value="disulphide interaction" name="redirect">&nbsp;&nbsp;<label>Disulphide Interactions</label></td></tr>
                     <tr><td><input type="checkbox" value="hydrophobic interaction" name="redirect">&nbsp;&nbsp;<label>Hydrophobic Interactions</label></td></tr>
                     <tr><td><input type="checkbox" value="cation pi interaction" name="redirect">&nbsp;&nbsp;<label>Cation &Pi; Interactions</label></td></tr>
                    <tr><td><input type="checkbox" value="aromatic aromatic interaction" name="redirect">&nbsp;&nbsp;<label>Aromatic-Aromatic Interactions</label></td></tr>
                     <tr><td><input type="checkbox" value="mmch" name="redirect">&nbsp;&nbsp;<label>Main chain-Main chain Hydrogen Interactions</label></td></tr>
                    <tr><td><input type="checkbox" value="msch" name="redirect">&nbsp;&nbsp;<label>Main chain-Side chain Hydrogen Interactions</label></td></tr>
                    <tr><td><input type="checkbox" value="ssch" name="redirect">&nbsp;&nbsp;<label>Side chain-Side chain Hydrogen Interactions</label></td></tr>
                    <tr><td><input type="checkbox" onclick="selects()" name="all">&nbsp;&nbsp;<label>All</label></td></tr>
                  </table>

                 
                 {%elif x=="binding_site" %}
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;text-align: center;">
                      <caption style="height:max-content;background-color:gray;text-align: center;">Input Details</caption>
                   <tr>
                     <td style="width: 50%;">PDB ID:<input type="text" name='Pdb' value={{y}} readonly style="font-size: 20px;"></td>
                   </tr>
                  </table>
                  
                  <br>
                  
                  <table id='prop' style="width:100%;border-width: 5px;border-color: black;">
                    <tr>
                     <td>Chain 1:<input type='text'  name='b_s' style="font-size: 25px;width: 50px;" ></td>
                     <td>Chain 2:<input type='text'  name='b_s' style="font-size: 25px;width: 50px;" ></td>
                     <td>Distance Threshold:&nbsp;&nbsp;<input type="number" step="0.1"  name='b_s' style="font-size: 25px;" >&nbsp;(&#197;)</td>
                     
                   </tr>

                  </table>

                  
                 {%endif%}
            
           </div>
             <br>
             <br>
             <input type='Submit' value='Submit' style="font-size:30px;border-radius: 10px;">
             <input type="button" value="Go back" onclick="history.back()" style="font-size:30px;border-radius: 10px;">
             <input type="button" value="Reload" onclick="history.go(0)" style="font-size:30px;border-radius: 10px;">

          </form>
         


        </nav></strong>
      </div>
      
 
     
  </body>
  <script type="text/javascript">
    function selects(){  
                var ele=document.getElementsByName('redirect');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox'){
                      if(ele[i].checked==true){  
                         ele[i].checked=false;}
                      else{
                        ele[i].checked=true;
                      }
                      }
                    }
                  
            } 
  </script>
</html>
