{% extends "templa.html" %}
{% block content %}

<div>
 <div class='mr' style="height: 125px;width:70%;margin-right:3%;overflow: scroll;float:right;">
  <heading style="height:max-content;display: block;background-color:gray;text-align: center;font-size: 35px;">Protein Sequence</heading>
    {% for i in range(1,d|length) %}
         {% if i|string() in a %}
           {% if i%10==0 or i == d|length-1 %}
             <span style="color:#E10600;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
           {%else%}
             <span style="color:#E10600;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {% elif i|string() in b %}
            {% if i%10==0 or i == d|length-1 %}
             <span style="color:#1B4F72;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
            {%else%}
             <span style="color:#1B4F72;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {%else%}
            {% if i%10==0 or i == d|length-1 %}
             <span style="color:yellow;font-weight:900;">{{d[i]}}<sup style="color:black">{{i}}</sup></span>
            {%else%}
             <span style="color:yellow;font-weight:900;">{{d[i]}}</span>
           {%endif%}
         {%endif%}
       {%endfor%} 

    
 </div>

 <div class="label" style="margin-left: 3%;">

       <div style="background-color:#E10600;width:50px;height:20px;float: left;"></div><p style="font-weight: bolder;margin-left:5%;">Exterior Region</p>
       <br>
       <div style="background-color:#1B4F72;width:50px;height:20px;float: left"></div><p style="font-weight: bolder;margin-left:5%;">Membrane Region</p>
       <br>
       <div style="background-color:yellow;width:50px;height: 20px;float: left"></div><p style="font-weight: bolder;margin-left:5%;">Interior Region</p>


 </div>
</div>
<br>
    <!--<h2 class='two'>Medium-range Interactions</h2>
  </div>
     <div id='test'> 
      <table id='flow'>
    	<tr>
    		<th>Residue Name</th>
    		<th>Residue Number</th>
    		<th>Residue Name</th>
    		<th>Residue Number</th>
    		<th>Distance</th>
    	</tr>
    	{% for i in x %}
          <tr>
            <td>{{i[0]}}</td>
          {%if i[1] in a %}
            <td style="background-color: yellow">{{i[1]}}</td>
          {%elif i[1] in b %}
            <td style="background-color: #1B4F72">{{i[1]}}</td>
          {%else%}
            <td style="background-color: color:yellow">{{i[1]}}</td>
          {%endif%}
            <td>{{i[2]}}</td>
          {%if i[3] in a %}
            <td style="background-color: yellow">{{i[3]}}</td>
          {%elif i[3] in b %}
            <td style="background-color: #1B4F72">{{i[3]}}</td>
          {%else%}
            <td style="background-color: color:yellow">{{i[3]}}</td>
          {%endif%}
          	<td>{{i[4]}}</td>
          </tr>
        {%endfor%}

      </table>-->

    
    <div id="test" style="margin-top:20px;margin-bottom: 0px;">
     {% for k in range(0,x|length) %}
      <!--<button class='dropdwn' onclick="toggle()">{{title[k]}}</button>-->
      {% if x[k][1] in title and x[k][1] in ['ionic interaction','cation pi interaction']%}
       <div style="overflow:auto;overflow-x: hidden;height:max-content;margin:3em;"> 
        <table id='flow' style="margin:10px;padding: 5px;">
         {%if x[k][1]=='cation pi interaction'%}
          <caption style="font-size: 35px;position: sticky;">CATION &Pi; INTERACTIONS</caption>
         {%else%} 
          <caption style="font-size: 35px;position: sticky;">{{x[k][1]|upper}}</caption>
         {%endif%}
         <tr style="color: black;">
          <th style="color: black;">Residue Name</th>
          <th style="color: black;">Residue Number</th>
          <th style="color: black;">Atom</th>
          <th style="color: black;">Residue Name</th>
          <th style="color: black;">Residue Number</th>
          <th style="color: black;">Atom</th>
          <th style="color: black;">Distance</th>
         </tr>
      
        {% for i in x[k][0] %}
          <tr>
            <td>{{i[0]}}</td>
          {%if i[1] in a %}
            <td style="background-color: #E10600;font-weight:900;">{{i[1]}}</td>
          {%elif i[1] in b %}
            <td style="background-color: #1B4F72;font-weight:900;">{{i[1]}}</td>
          {%else%}
            <td style="background-color:yellow;font-weight:900;">{{i[1]}}</td>
          {%endif%}
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
          {%if i[4] in a %}
            <td style="background-color: #E10600;font-weight:900;">{{i[4]}}</td>
          {%elif i[4] in b %}
            <td style="background-color: #1B4F72;font-weight:900;">{{i[4]}}</td>
          {%else%}
            <td style="background-color:yellow;font-weight:900;">{{i[4]}}</td>
          {%endif%}
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
          </tr>
        {%endfor%}
        </table>
       </div>
      
      {%elif x[k][1] in title and x[k][1] not in ['ionic interaction','cation pi interaction']%}
         <div style="overflow:auto;overflow-x: hidden;height:max-content;margin:3rem;"> 
           <table id='flow' style="margin:10px;padding: 5px;">

            <caption style="font-size: 35px;position: sticky;">{{x[k][1]|upper}}</caption>
            <tr style="color: black;">
             <th style="color: black;">Residue Name</th>
             <th style="color: black;">Residue Number</th>
        
             <th style="color: black;">Residue Name</th>
             <th style="color: black;">Residue Number</th>
        
             <th style="color: black;">Distance</th>
            </tr>


         {% for i in x[k][0] %}
          <tr>
            <td>{{i[0]}}</td>
          {%if i[1] in a %}
            <td style="background-color: #E10600;font-weight:900;">{{i[1]}}</td>
          {%elif i[1] in b %}
            <td style="background-color: #1B4F72;font-weight:900;">{{i[1]}}</td>
          {%else%}
            <td style="background-color:yellow;font-weight:900;">{{i[1]}}</td>
          {%endif%}
            <td>{{i[2]}}</td>
          {%if i[3] in a %}
            <td style="background-color: #E10600;font-weight:900;">{{i[3]}}</td>
          {%elif i[3] in b %}
            <td style="background-color: #1B4F72;font-weight:900;">{{i[3]}}</td>
          {%else%}
            <td style="background-color:yellow;font-weight:900;">{{i[3]}}</td>
          {%endif%}
            
            <td>{{i[4]}}</td>
            
          </tr>
         {%endfor%}
          </table>
         </div> 
      {%endif%}
      
     {%endfor%}
    </div>  
    <p>...........................................</p>
  
{% endblock %}
