{% extends "layout.html" %}
{% block content %}
  <div class='re'>
   <div class="reg">
    <div style="display: block;background-color: grey">
     <h3 style="color: orange;">Sequence Regions</h3>
    </div>
       {% for i in d %}
         {% if d.index(i) in a %}
          <span style="color:red">{{i}}</span>
         {% elif d.index(i) in b %}
          <span style="color:green">{{i}}</span>
         {%else%}
          <span style="color:brown">{{i}}</span>
         {%endif%}
       {%endfor%} 
   </div>
       

    <p>...........................................</p>
  </div>
  

{% endblock %}