{% extends "layout.html" %}
{% block content %}
  
     <h3>{{z}}</h3>
    
    <div id='test'> 
      <table id='flow'>
        <tr>
        <th>Residue Name</th>
        <th>Residue Number</th>
        <th>Chain</th>
        <th>Order</th>
       </tr>

       {% for i in y %}
          <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{'A'}}</td>
            <td>{{i[2]}}</td>
          </tr>
        {%endfor%}
      </table>
    </div>
       
  
       

    <p>...........................................</p>
 
  

{% endblock %}
