<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
  <body>
    <!--<button onclick="info()" style="margin-left: 50%;">Info</button>
    <div id='info'><p>Helllllooooooo</p></div>-->

  	<div class="container" id="container" style="height:100vh;font-size: 20px;">

      

  	  <p style="font-size: 35px;">Protein Sequence:</p>
      <br>
  	  	
      {% block content %}
       {% endblock %}


      <input type='Submit' value='Submit!' style="font-size:30px;border-radius: 10px;">
             <input type="button" value="Go back!" onclick="history.back()" style="font-size:30px;border-radius: 10px;">
      <script type="text/javascript">
      	 function info() {
              var x = document.getElementById("info");
              var y = document.getElementById("container");
              if (x.style.display=="none"){
                x.style.display="block"
                y.style.display="none"
              }
              else {
                x.style.display="none"
                y.style.display="block"
              }

      	 }


      </script>
    </div>
  </body>
 </html>