{% extends "layout.html" %}
{% block content %}
   <form method = "post" action = "http://localhost:5000/validate.html">  
           	  <input type="text" name="pdb">
              <input type = "submit" value = "Submit">
           </form>
    


        <ul class="menu">
            <li><a href="{{ url_for('short_range') }}">short_range</a></li>
            <li><a href="{{ url_for('medium_range') }}">medium_range</a></li>
            <li><a href="{{ url_for('long_range') }}">long_range</a></li>
            <li><a href="{{ url_for('contact_order') }}">contact_order</a></li>
            <li><a href="{{ url_for('ionic_interaction') }}">ionic_interaction</a></li>
          </ul> 
{% endblock %}